#!/bin/bash

location="$USER@$HOSTNAME"      # must be unique for each host

# reduce ssh connection time and ask password/passphrase only once
# (control socket and remote will be added automatically)
# comment the following line to disable connection sharing
ssh_master=(ssh -N -M -S)

unison_args=(                   # applied for every unison call
    -sshargs "-C -S $ssh_socket"
    -batch
    -backup "Name *"
    -backup "Name .*"           # dot files
    -backuploc local
    -maxbackups 2
    -times
    -force newer
    # ignore list
    -ignore "Name *~"
    -ignore "Name #*#"
    -ignore "Name *.tmp"
)


locations=(user@home user@laptop user@work) # where I am
remotes=(user@server user@server user@server) # where to sync to
unison_dirs=($HOME/.unison $HOME/.unison $HOME/.unison) # optional: to use unisons' *.prf files

# variables

SYNC="/home/user/Sync"

# profiles

# profile 'unisyncrc' is treated specially: if it is updated during
# synchronization, its contents is re-read
profile_01=unisyncrc
local_01="$HOME"
remote_01="$SYNC"
args_01=(-path .unisyncrc)

profile_02=unison
local_02="$HOME/.unison"
remote_02="$SYNC/.unison"
args_02=(-ignore "Name ?*" -ignorenot "Name *.prf")

profile_10=shell
local_10="$HOME"
remote_10="$SYNC/configs"
args_10=(-path .bashrc -path .bash_profile -path .bash_logout)

profile_20=hg
local_20="$HOME"
remote_20="$SYNC/configs"
args_20=(-path .hgrc)

profile_21=git
local_21="$HOME"
remote_21="$SYNC/configs"
args_21=(-path .gitconfig)

profile_30=music
local_30="$HOME/Music"
remote_30=("$SYNC/HomeMusic" "$SYNC/LaptopMusic" "$SYNC/WorkMusic")

profile_31=documents
local_31=("$HOME/Docs" "$HOME/Docs" "$HOME/HomeDocs")
remote_31="$SYNC/Docs"

# groups

group_configs=(shell hg git)
group_vcs_configs=(hg git)
group_data=(music documents)
